* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    position: sticky;
    z-index: 10;
    /* margin: 2%; */
}

.nav1{
    display: flex;
    align-items: center;
    background-color:rgb(20, 18, 18);
    /* background-color:#696969; */
    height: 7vh;
    width:100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
   
}

.nav1 ul form{
  display: inline;
}

.nav1 a{
    
    color:whitesmoke;
    /* color:#7FFFD4; */
    display: flex;
    align-items: center;
    display: inline;
    padding: 0vw 2vw 0vw 2vw;
    font-size: larger;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    /* margin:2%; */
    
}

.nav2 {
    height: 10vh;
    width: 100%;
    background-color: cornsilk;
    display: inline-flex;
    align-items: center;
    /* margin:2%; */
     
}

   

.GUJ_UNI{
    display: inline;
    padding-left: 1vw;
    font-size: 3vh;
    font-weight: bolder;
    font-family: 'Varela Round', sans-serif;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em black;
}
.search{
    padding-left:45vw;
    padding-right: 1vw;
    color:black;
    font-size: 3vh;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}
.searchinput{
    padding:9px 9px;
    border:2px solid #3498db;
    border-radius:10px;
    padding-right: 6px;
    margin-right:5px;
    background:whitesmoke;
    outline: none;
}
.nav1 .box1{
  display: inline-block;
  color: gray;
    padding-left: 40vw;
    padding-right: 2vw;
    position: absolute;
    right: 0;
}
select{
    background-color:#eaecec;
    padding:5px;
    text-decoration: none;
}
.main{
    width:100%;
    margin-left: 2%;
    
   }
   
   .card{
     
     width:28%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px;
    margin: 2%;
    
       }
   
   .image img{
     width: 100%;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
     
     
    }
    
   
   .title{
    
     text-align: center;
     padding: 10px;
     
    }
   
   h1{
     font-size: 20px;
    }
   
   .des{
     padding: 1vw;
     text-align: center;
     /* font-size: large;
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif; */
    background-color:black;   
     
     padding-top: 10px;
           border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
   }

  

   p{
     font-weight: bold;
     
   }
  
   button{
     margin-top: 40px;
     margin-bottom: 10px;
     background-color: white;
     border: 1px solid black;
     border-radius: 5px;
     padding:10px;
   }
   button:hover{
     background-color: black;
     /* color: white; */
     color:rgb(235, 222, 222);
     transition: .5s;
     cursor: pointer;
   }
   
